body {
    margin: 0;
    padding: 0;
}


/* -----header----- */
.main-header .navbar-nav .nav-item .nav-link{
    font-size: 18px;padding: 0 20px;
}

.main-header :hover{
    color: rgba(0, 119, 189, 1);
    
}

/* -----header----- */

.Our-company{
    background-color: rgb(232, 231, 231);
    padding: 1px 0px;
}

.Our-company h3{
    text-align: center;
    margin-top: 46px; 
    font-family: auto;
}

.Our-company p{
    text-align: center;
    margin-top: 31px;
    padding: 0px 42px
}

.Our-company ul{
    padding: 0px 67px;
}

.services h3{
    text-align: center;
    font-family: auto;
    margin-top: 46px; 

}

.service-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.services .service-text-box-list {
    font-size: 16px;
    text-align: center;
    
}


.services .service-text-box-list p{
    padding-top: 13px;
}

.counters .counter-box{
    font-size: 16px;
    text-align: center;
    padding: 0px 0px;

}

.counters .counter-box h2{
    color: rgb(68, 68, 255);

}

.solutions h2{
    font-family: auto;
    text-align: center;
    margin: 46px; 
    
}

.solutions{
    background-color: rgb(232, 231, 231);
    padding: 1px 0px;
}

.solution-text-box{
    padding: 33px 48px;
    font-size: 17px;
    text-align: center;
    background-color: white;
    height: 94%;
    width: 100%;

}

.solutions h4{
    text-align: center;
    margin-top: 46px; 
    font-family: auto;
}

.industry-served h3{
    font-family: auto;
    text-align: center;
    margin-top: 46px; 
}

.industry-text-box{
    padding: 30px 0px;
    font-size: 17px;
    text-align: center;
}

.our-clients{
    font-family: auto;
}

.our-clients h3{
    text-align: center;
    margin-top: 46px; 
    font-family: auto;
}
.our-clients p{
    text-align: center;
    font-size: 20px;
}
 
.map-text p{
    padding: 14px 110px;
    font-size: 16px;
}

.our-clients .all-clientslogo img{
    padding: 0px 21px;
    margin-top: 62px;

}

.comming-soon{
    background-color: rgb(232, 231, 231);
    padding: 1px 0px;
}

.coming-soon{
    text-align: center;
    font-size: 20px;
    background-color: rgb(232, 231, 231);
    padding: 30px 0px;
    font-family: auto;
}


.coming-soon p{
    font-size: 16px;
    padding: 0% 20%;
    
}

.coming-text-box{
    background-color: white;
    height: 250px ;
}


.form{
    background-color: rgba(0, 119, 189, 1);
    color: black;
}

.form-box{
    background-color: white;
    width: 72%;
    padding: 1% 22% ;
}



.form h3{
    text-align: center;
    font-family: auto;
    padding: 3%;
    color: white ;
}

.form-text{
    padding: 5px 10px ;
}





.content {
    flex: 1;
    padding: 20px;
}

/* -------ending------ */

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer .footer-links {
    list-style: none;
    padding: 5px;
    display: inline-grid;;
    justify-content: left;
    gap: 20px;
}

.footer-links li {
    display: flex;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-address{
    text-align: left;
    margin-top: 62px;
}


.footer-links li :hover{
    color: rgba(0, 119, 189, 1);
}
/* -------ending------ */


/* ----About Us----- portion */


.navbar-nav .nav-item-about{
    background-color: rgb(235 230 230);
    padding: 8px 100px ;
    margin: 0px -13px;
}


.About-box-sec h3{
    padding: 22px 0px;
    font-family: auto;
}

.About-box-sec p{
    font-size: 17px;
    font-family: auto;
}

.what-we-do h3{
    padding: 25px 0px ;
    font-family: auto;
}

.what-we-do li{
    font-family: auto;
    font-size: 19px;
}

.recogination h3{padding: 25px 0px ;
    font-family: auto;

}
.recogination li{
    font-family: auto;
    font-size: 19px;
}

.certificate h3{
    padding-top: 100px;
    font-family: auto;
}
.certificate img{
    padding: 40px 0px ;
    min-width: 100%;
}

.marginrl{
    margin-right: 3%;
}

.service-count-box h1{
    font-size: 56px;
    color: rgba(0, 119, 189, 1);
    font-family: auto;
    text-align: center;
    padding-top: 56px;
}

.service-count-box p{
    font-family: auto;
    text-align: center;
    font-size: 20px;
}
.service-count-box{
    background-color:rgb(235 230 230) ;
}

.our-team-about{
    font-family: auto;
    padding-top: 131px;
    padding-bottom: 172px;
    
}

.our-team-directors{
    background-color:rgba(0, 119, 189, 1) ;
    color: #fff;
    font-family: auto;
    position: relative;
}


.our-team-directors p{
    font-size: 14px;
    padding: 3px 34px;
}

.word-color{
    text-decoration: underline 5px #0077bd;
}

.our-team-directors img{
    width: 203px;
    height: 289px;
    margin: 37px 0px 13px 0px;
}

.director1{
    margin: -18% 0% 0% 0%;
}


/* ------services----portion */
.services{
    font-family: auto;
    font-size: 18px;
}
.service-list1{
    padding: 1px 0px;    
}
.service-list1 h2 p{
    padding: 1px 0px ;
}
.service-list2{
    background-color: lightgray;
    padding: 1px 0px;
}
.service-list3{
    padding: 1px 0px;
}
.service-list4{
    background-color: lightgray;
    padding: 1px 0px;
}
.service-list5{
    padding: 1px 0px;
}
.service-list6{
    background-color: lightgray;
    padding: 1px 0px;
}

.service-padding{
    padding: 38px 0px;
}


/* ---------industry----portion */

.industry-served{
    font-family: auto;
    font-size: 18px;
}

.career-box{
    font-family: auto;
}

.career-box h3{
    padding: 80px 0px ;
}

.career-box p{
    font-size: 16px;
    padding: 1% 26%;
}


/* ----contact-Us--- */

.contact-Us p{
    padding: 0% 13%;
    font-family: auto;
}

.contact-Us h3{
    padding: 6% 13%;
    font-family: auto;
}